MONGODB_URI=mongodb+srv://shubham1230101130:48Gc6aIlnge2UYma@cluster0.tbrbsay.mongodb.net/chat-real?retryWrites=true&w=majority
JWT_SECRET=this_is_a_secret_key_6969
JWT_EXPIRES_IN=3600s
OAUTH_GOOGLE_CLIENT_ID=732098616077-li7f05dcp8u782p52cg9g2uk4bpmtmb8.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret
OAUTH_GOOGLE_CALLBACK=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:5173
